<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Choose the meals that You want!</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/choose_meals.css">
</head>

<body>
    <div class="container">
        <nav class="navbar-top">
            <img src="../img/side_logo_transparent.png" alt="company logo">
            
            <input id="search-meal" class="enlarge" placeholder="Search..."></input>

            <div class="login-buttons">
                <button class="text-button enlarge">Sign up</button>
                
                <button class="text-button enlarge">Log in</button>
                   
                <div class="overlay"></div>
            
                <div class="login">
                    <a href="#" class="exit-icon"><i class="fas fa-times"></i></a>

                    <h1>Log in to Your account</h1>

                    <form>
                        <input name="email" type="text" placeholder="E-mail">
                        <input name="password" type="password" placeholder="Password">
                        <button class="enlarge">Login</button>
                    </form>

                    <div class="texts">
                        Don't have an account yet?
                        <a href="#" class="weight-700">Register now</a>
                        <br>
                        <a href="#" class="weight-700">Can't log in?</a>
                    </div>
                </div>
                
                <div class="login signup">
                    <a href="#" class="exit-icon"><i class="fas fa-times"></i></a>

                    <h1>Create a new account</h1>

                    <form>
                        <input name="name" type="text" placeholder="Name">
                        <input name="email" type="text" placeholder="E-mail">
                        <input name="password" type="password" placeholder="Password">
                        <input name="re-password" type="password" placeholder="Repeat password">
                        <button class="enlarge">Register</button>
                    </form>

                    <div class="texts">
                        Already have an account?
                        <a href="#" class="weight-700">Log in now</a>
                        <br>
                    </div>
                </div>
            </div>
        </nav>

        <div id="second-container">
            <aside id="side-bar">
                <h2>Sort by</h2>

                <div class="list">
                    <input type="checkbox" name="cat" id="sort1" value="" class="enlarge"></input>
                    <label for="sort1">Hello</label><br>
                    <input type="checkbox" name="cat" id="sort2" value="" class="enlarge"></input>
                    <label for="sort2">Hello</label><br>
                    <input type="checkbox" name="cat" id="sort3" value="" class="enlarge"></input>
                    <label for="sort3">Hello</label><br>
                    <input type="checkbox" name="cat" id="sort4" value="" class="enlarge"></input>
                    <label for="sort4">Hello</label><br>
                </div>

                <h2>Categories</h2>

                <div class="list">
                    <input type="checkbox" name="cat" id="cat1" value="" class="enlarge"></input>
                    <label for="cat1">Hello</label><br>
                    <input type="checkbox" name="cat" id="cat2" value="" class="enlarge"></input>
                    <label for="cat2">Hello</label><br>
                    <input type="checkbox" name="cat" id="cat3" value="" class="enlarge"></input>
                    <label for="cat3">Hello</label><br>
                    <input type="checkbox" name="cat" id="cat4" value="" class="enlarge"></input>
                    <label for="cat4">Hello</label><br>
                    <input type="checkbox" name="cat" id="cat5" value="" class="enlarge"></input>
                    <label for="cat5">Hello</label><br>
                    <input type="checkbox" name="cat" id="cat6" value="" class="enlarge"></input>
                    <label for="cat6">Hello</label><br>
                    <input type="checkbox" name="cat" id="cat7" value="" class="enlarge"></input>
                    <label for="cat7">Hello</label><br>
                    <input type="checkbox" name="cat" id="cat8" value="" class="enlarge"></input>
                    <label for="cat8">Hello</label><br>
                </div>    

                <input type="submit" value="Submit">
            </aside>

            <main id="meals">
                <div class="meal">
                    <div class="meal-title">Pancakes with maple syroup and blueberries</div>

                    <img src="../img/pancakes.jpg" alt="pancakes with maple syroup and blueberries">

                    <div class="beside-picture">
                        <div class="meal-ingridients">
                            <ul>
                                <li>flour</li>
                                <li>flour</li>
                                <li>flour</li>
                                <li>flour</li>
                                <li>flour</li>
                            </ul>
                        </div>

                        <button class="enlarge">
                            <i class="fas fa-plus"></i>
                            <p>Add </p>
                        </button>
                    </div>
                </div>

                <div class="meal">
                    <div class="meal-title">Pancakes with maple syroup and blueberries</div>

                    <img src="../img/pancakes.jpg" alt="pancakes with maple syroup and blueberries">

                    <div class="beside-picture">
                        <div class="meal-ingridients">
                            <ul>
                                <li>flour</li>
                                <li>flour</li>
                                <li>flour</li>
                                <li>flour</li>
                                <li>flour</li>
                            </ul>
                        </div>

                        <button>
                            <i class="fas fa-plus"></i>
                            <p>Add </p>
                        </button>
                    </div>

                </div>

                <div class="meal">
                    <div class="meal-title">Pancakes with maple syroup and blueberries</div>

                    <img src="../img/pancakes.jpg" alt="pancakes with maple syroup and blueberries">

                    <div class="beside-picture">
                        <div class="meal-ingridients">
                            <ul>
                                <li>flour</li>
                                <li>flour</li>
                                <li>flour</li>
                                <li>flour</li>
                                <li>flour</li>
                            </ul>
                        </div>

                        <button>
                            <i class="fas fa-plus"></i>
                            <p>Add </p>
                        </button>
                    </div>
                </div>

                <div class="meal">
                    <div class="meal-title">Pancakes with maple syroup and blueberries</div>

                    <img src="../img/pancakes.jpg" alt="pancakes with maple syroup and blueberries">

                    <div class="beside-picture">
                        <div class="meal-ingridients">
                            <ul>
                                <li>flour</li>
                                <li>flour</li>
                                <li>flour</li>
                                <li>flour</li>
                                <li>flour</li>
                            </ul>
                        </div>

                        <button>
                            <i class="fas fa-plus"></i>
                            <p>Add </p>
                        </button>
                    </div>
                </div>

            </main>

            <aside id="meal-assigner">
                <h1>Choosing for day...</h1>
                
                <div id="day-numbers">
                    <div class="day-number bold">1</div>
                    <div class="day-number bold">2</div>
                    <div class="day-number bold">3</div>
                </div>
                
                <div id="meal-pictures">
                    <div class="meal-picture"><i class="fas fa-utensils"></i><img src="../img/pancakes.jpg" alt="pancakes"></div>
                    <div class="meal-picture"><i class="fas fa-utensils"></i></div>
                    <div class="meal-picture"><i class="fas fa-utensils"></i></div>
                    <div class="meal-picture"><i class="fas fa-utensils"></i></div>
                    <div class="meal-picture"><i class="fas fa-utensils"></i></div>
                    <div class="meal-picture"><i class="fas fa-utensils"></i></div>
                </div>

                <a href="#"><button class="enlarge">Continue</button></a>
            </aside>

        </div>

        <footer>
            <ul>
                <p>Contact</p>
                <li class="bold enlarge">1</li>
                <li class="bold enlarge">2</li>
                <li class="bold enlarge">3</li>
                <li class="bold enlarge">4</li>
            </ul>
            <ul>
                <p>Contact</p>
                <li class="bold enlarge">1</li>
                <li class="bold enlarge">2</li>
                <li class="bold enlarge">3</li>
                <li class="bold enlarge">4</li>
            </ul>
            <ul>
                <p>Contact</p>
                <li class="bold enlarge">1</li>
                <li class="bold enlarge">2</li>
                <li class="bold enlarge">3</li>
                <li class="bold enlarge">4</li>
            </ul>
        </footer>
    </div>
</body>
</html>