<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Check out your account</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/your_account.css">
</head>

<body>
    <div class="container">
        <nav class="navbar-top">
            <img src="../img/side_logo_transparent.png" alt="company logo">

            <div class="login-buttons">
                <button class="text-button enlarge">Your account</button>
            </div>
        </nav>

        <aside>
            <nav>
                <ul class="navbar">
                    <li class="navbar-item">
                        <a class="navbar-link" href="../views/information.html">
                            <i class="fas fa-info"></i>
                            <span class="navbar-link-text">Information</span>
                        </a>
                    </li>
                    
                    <li class="navbar-item">
                        <a class="navbar-link active" href="../views/favourites.html">
                            <i class="fas fa-heart"></i>
                            <span class="navbar-link-text">Favourites</span>
                        </a>
                    </li>
                    
                    <li class="navbar-item">
                        <a class="navbar-link" href="../views/order_history.html">
                            <i class="fas fa-history"></i>
                            <span class="navbar-link-text">Order History</span>
                        </a>
                    </li>
                    
                    <li class="navbar-item">
                        <a class="navbar-link" href="../views/settings.html">
                            <i class="fas fa-cog"></i>
                            <span class="navbar-link-text">Settings</span>
                        </a>
                    </li>
                    
                    <li class="navbar-item">
                        <a class="navbar-link" href="../views/your_account.html">
                            <i class="fas fa-user"></i>
                            <span class="navbar-link-text">Your account</span>
                        </a>
                    </li>
                    
                </ul>
            </nav>
        </aside>

        <main>

        </main>

        <footer>
            <ul>
                <p>Contact</p>
                <li class="bold enlarge">1</li>
                <li class="bold enlarge">2</li>
                <li class="bold enlarge">3</li>
                <li class="bold enlarge">4</li>
            </ul>
            <ul>
                <p>Contact</p>
                <li class="bold enlarge">1</li>
                <li class="bold enlarge">2</li>
                <li class="bold enlarge">3</li>
                <li class="bold enlarge">4</li>
            </ul>
            <ul>
                <p>Contact</p>
                <li class="bold enlarge">1</li>
                <li class="bold enlarge">2</li>
                <li class="bold enlarge">3</li>
                <li class="bold enlarge">4</li>
            </ul>
        </footer>
    </div>
</body>
</html>