<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dieter helps you to control your weight and does the shopping for you! While giving you all the recipes. </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
</head>

<body>
    <div class="container">
        <nav>
            <img src="../img/side_logo_transparent.png" alt="company logo">
            
            <button id="home-navbar-button">Start Composing Your Diet</button>

            <div class="login-buttons">
                <button class="text-button">Sign up</button>
                
                <button class="text-button">Log in</button>
            </div>
        </nav>
        
        <header>
            <div class="text">
                <h1>Make Your dream body come true!</h1><br>
                With our app sticking to Your diet will become much easier.
            </div>
        </header>

        <section id="home-section">
            
            <article >
                <p>All it takes from You is to follow our suggestions and eat the meals that you chose!</p>
            </article>
            
            <img src="../img/woman-main-photo.jpg" alt="happy woman eating breakfest">
           
            <img src="../img/meal-main-photo.jpg" alt="man eating a meal">

            <article>
                <p>With the right tools and knowledge everything is possible.</p>
            </article>
            
            
        </section>

        <main id="home-main">
            <p>Wanna give it a try?</p>
            <button id="home-main-button">
                Let's do it!
            </button>
        </main>

        <footer>
            <ul>
                <p>Contact</p>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
            <ul>
                <p>Contact</p>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
            <ul>
                <p>Contact</p>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </footer>
    </div>
</body>
</html>