#secondary-container {
    width: 100%;
}

.return, #submit-button{
    margin: 1rem;
    padding: 0.2rem 4rem;

    text-decoration: none;
    color: var(--chosen-text-black);
    font-size: 2rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--chosen-yellow);
}

.addMeal {
    width: 100%;
    display: flex;
    justify-content: center;
}

.addMeal>.add-meal-container{
    width: 80%;
    padding: 3rem;

    display: flex;
    flex-flow: column nowrap;
}

.addMeal>.add-meal-container>input, .addMeal>.add-meal-container>textarea {
    margin: 0.5rem;
    padding: 0.5rem;
    padding-left: 1rem;

    font-size: 0.8rem;
    border-radius: 1rem;
    border: 2px solid var(--chosen-black);
}

.addMeal>.add-meal-container>*::placeholder {
    color: var(--chosen-text-black);
}

#ingredients-form {
    width: 100%;
    padding: 0 1rem;

    display: flex;
    flex-flow: column nowrap    ;
}

#ingredients-form h4{
    margin-bottom: 0.5rem ;
}

.ingredients-form-inputs>input {
    width: 300px;
    padding: 0.3rem;
    margin: 0.2rem;
}

.ingredients-form-inputs>input:last-child {
    width: 100px;
}

#ingredients-form-add {
    width: 1.2rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    padding: 0.3rem;
    background-color: var(--chosen-yellow);
    text-align: center;
    border-radius: 50%;
}


#categories-form {
    width: 100%;
    padding: 0 1rem;

    display: flex;
    flex-flow: column nowrap    ;
}

#categories-form h4{
    margin-bottom: 0.5rem ;
}

#categories-form>input {
    width: 300px;
    padding: 0.3rem;
    margin: 0.2rem;
}

#categories-form-add {
    width: 1.2rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    padding: 0.3rem;
    background-color: var(--chosen-yellow);
    text-align: center;
    border-radius: 50%;
}

@media only screen and (max-width: 970px) {
    .navbar-top{
        height: 4rem;
        top: 0;
    }
}

