/* NAVBAR  ----------------------------------------------------------------------------------- */
#home-navbar-button{
    width: clamp(420px, 45%, 600px);
    height: 80%;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 5px var(--chosen-black);
    border-radius: 3rem;
    border: none;
    
    background-color: var(--chosen-red);
}

#home-navbar-button:hover{
    background-color: var(--chosen-red-hover);
}


/* HEADER ------------------------------------------------------------------------------------ */
header {
    width: 100%;
    height: clamp(200px, 40vh, 1000px);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.3rem;
    text-align: center;
}

header p::first-line {
    font-weight: 700;
}

/* SECTION ----------------------------------------------------------------------------------- */
#home-section{
    width: 100%;

    display: flex;
    flex-flow: row wrap;
}

#home-section img{
    width: 50%;
    height: clamp(400px, 50vh, 1200px);
    object-fit: cover;
}

#home-section article{
    width: 50%;
    height: clamp(400px, 50vh, 1200px);

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--chosen-yellow);
}

#home-section article p{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}


/* MAIN -------------------------------------------------------------------------------------- */
#home-main {
    width: 100%;
    height: clamp(400px, 50vh, 1200px);

    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    background-color: var(--chosen-white);
}

#home-main p {
    font-size: 2rem;
    font-weight: 700;
}

#home-main-button{
    width: 25rem;
    height: 4rem;
    padding: 0 15px;
    
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 5px var(--chosen-black);
    background-color: var(--chosen-red);
    border: none;
    border-radius: 3rem;
    box-shadow: 0.1rem 0.1rem 10px var(--chosen-black);
}


/* MEDIA ------------------------------------------------------------------------------------- */
@media only screen and (max-width: 970px) {
    /* NAVBAR  ----------------------------------------------------------------------------------- */
    .navbar-logo {
        height: 40%;
        padding-left: 0.1rem;
    }

    #home-navbar-button {
        width: 70%;
        height: 40%;
        margin: auto;

        order: 2;
    }

    /* SECTION ----------------------------------------------------------------------------------- */
    #home-section{
        flex-flow: column wrap;
    }
    
    #home-section img{
        width: 100%;
    }
    
    #home-section img:last-of-type{
        order: 1;
    }
    
    #home-section article{
        width: 100%;
    }
    
    #home-section article p{
        font-size: clamp(2.2rem, 1vw + 1.8rem, 3rem);
    }
}

@media only screen and (max-width: 420px) {
      /* NAVBAR  ----------------------------------------------------------------------------------- */
    .navbar-logo{
        height: 35%;
    }

      #home-navbar-button{
        width: 90%;
        height: 3rem;

        margin-bottom: 0.5rem;
    }

}
