.main-informations{
    width: 100%;
    margin-left: 5rem;
    padding: 0;

    display: flex;
    flex-flow: row wrap;
}


.information-goal {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
}

#goals{
    display: flex;
    align-items: center;
}

.goals-button{
    margin: 0 0.5rem;
    padding: 0.3rem;

    opacity: 0.7;
    font-size: 1.6rem;
    background-color: var(--chosen-yellow);
    border: none;
    border-radius: 0.5rem;
}

.goals-button-active{
    opacity: 1;
    padding: 0.6rem;
}

.informations {
    width: 50%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.information {
    width: 20rem;
    margin: 0.4rem;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 1rem;
    background-color: var(--chosen-yellow);
}

.info-text {
    padding-left: 1rem;
}

.information input{
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0;

    text-align: center;
    font-size: 1rem;
    color: var(--chosen-white);
    border: none;
    border-radius: 0 0.3rem 0.3rem 0;
    background-color: var(--chosen-gray);
}

input::placeholder {
    text-align: center;
    font-size: 1rem;
}

.calculations {
   width: 50%;

   display: flex;
   flex-flow: column nowrap;
   align-items: center;
}

.calculation {
    width: 15rem;
    margin: 0.4rem;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--chosen-white);
    border-bottom: 1px solid var(--chosen-text-black)
}

.calc-number {
    padding: 0.5rem;
}

#update-button{
    width: 70%;
    margin: 0.3rem;
    padding: 0.3rem;

    color: white;
    background-color: var(--chosen-black);
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    opacity: 0.8;
}

#update-button:hover{
    opacity: 1;
}

.activity-level-buttons{
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
}

.activity-level-button{
    padding: 0.2rem;
    margin: 0.1rem;
    font-size: 0.9rem;
    color: white;
    border-radius: 1rem;
    background-color: var(--chosen-gray);
    opacity: 0.7;
}

.activity-level-button-active{
    opacity: 1;
}
/* MEDIA ------------------------------------------------------------------------------------- */
@media only screen and (max-width: 970px) {
    .main-informations{
        margin-left: 0;

        flex-flow: column nowrap;
        align-items: center;

        font-size: 1.5rem;
    }

    .goal {
        font-size: 2.5rem;
    }

    .informations{
        width: 90%;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .information {
        width: 100%;

        font-size: 2rem;
    }

    .calculations {
        width: 90%;
        margin-top: 3rem;
        margin-bottom: 10rem;
    }

    .calculation {
        width: 70%;
    }
}

@media only screen and (max-width: 420px) {
    .goal{
        padding-bottom: 4rem;
    }

    .goal form{
        display: block;
        padding: 1rem 0;
    }

    .information{
        font-size: 1.5rem;
    }

    .info-text{
        padding-right: 0.2rem;
    }
   
}
