:root {
    --chosen-yellow: #ffcd01;
    --chosen-black: #212121;
    --chosen-white: #ffffff;
    --chosen-red: #c62024;
    --chosen-gray: #555555;
    
    --chosen-text-black: #212121;
    --chosen-text-white: #ffffff;
}

body {
    width: 100%;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;

    display: flex;
    flex-flow: row wrap;

    background-color: var(--chosen-white);
}


/* NAVBAR ------------------------------------------------------------------------------------ */
nav {
    width: 100%;
    height: clamp(60px,12vh, 80px);
    
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--chosen-yellow);
}

nav img{
    height: clamp(60px, 60%, 60%);
}


/* FOOTER ------------------------------------------------------------------------------------ */
footer {
    width: 100%;
    padding: 4em 0;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
    background-color: var(--chosen-black);
}

footer p {
    font-size: clamp(1em, 1vw + 0.8em, 1.8em);
    text-align: center;
}

footer ul {
    width: clamp(300px, 30%, 500px);

    color: var(--chosen-text-white);
}

footer ul li {
    padding: 0.2em 0;
    margin: 0.3em 0;
    
    font-size: clamp(0.7em, 1vw + 0.8em, 1.8em);
    list-style-type: none;
    border-bottom: 1px solid var(--chosen-gray);
}


/* MEDIA ------------------------------------------------------------------------------------- */
@media only screen and (max-width: 970px) {
    /* NAVBAR ------------------------------------------------------------------------------------ */
    nav {
        height: 120px;
        
        top: -60px;
        flex-flow: row wrap;
    }

    nav img{
        height: clamp(50px, 35%, 60%);
    }
}

@media only screen and (max-width: 420px) {
    /* NAVBAR ------------------------------------------------------------------------------------ */
    nav {
        height: 110px;

        top: -55px;
    }

}
