:root {
    --chosen-yellow: #ffcd01;
    --chosen-black: #212121;
    --chosen-white: #ffffff;
    --chosen-red: #c62024;
    --chosen-red-hover: #b51013;
    --chosen-gray: #555555;
    
    --chosen-text-black: #212121;
    --chosen-text-white: #ffffff;

    --transition-speed: 400ms;

    font-size: clamp(16px, 2vw, 24px);
}

body {
    width: 100%;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--chosen-black);
}

body::-webkit-scrollbar-thumb {
    background: var(--chosen-yellow);
}

.container {
    width: 100%;

    display: flex;
    flex-flow: row wrap;

    background-color: var(--chosen-white);
}


/* HOVER EFFECTS ----------------------------------------------------------------------------------*/
.raise {
    transition: all var(--transition-speed) ease;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5rem 0.5rem -0.4rem var(--chosen-black);
  transform: translateY(-0.2rem);
}

.enlarge {
    transition: all var(--transition-speed) ease;
}

.enlarge:hover, .enlarge:focus {
    transform: scale(1.2);
}

.bold {
    transition: all var(--transition-speed) ease;
}

.bold:hover, .bold:focus {
    font-weight: 700;
}


/* ICONS -----------------------------------------------------------------------------*/
.fa-times{
    margin: 0;
    padding: 1.2rem 1.2rem 0 0;
    align-self: flex-end;
    font-size: 1rem;
}

.fa-plus{
    padding: 0 0.5rem 0 0;
}

.exit-icon {
    align-self: flex-end;
}

/* NAVBAR ------------------------------------------------------------------------------------ */
a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-top {
    width: 100%;
    height: 4rem;
    
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--chosen-yellow);
}

.navbar-top img{
    height: 60%;
    min-height: 60px;
    padding-left: 1rem;
}

.login-buttons{
    width: 20%;

    display: flex;
    justify-content: space-around;
}

.text-button {
    font-size: 1.4rem;
    background: none;
    border: none;
}

/* OVERLAY ------------------------------------------------------------------------------------ */
.overlay{
	width: 100%;
	height: 100%;

    
	position: fixed;
	top: 0px;
    left: 0px;
    
	background-color: #000;
	opacity: 0.7;
}


/* LOG IN ------------------------------------------------------------------------------------- */
.login {
    width: 500px;
    height: 600px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 30px;
    background-color: var(--chosen-white);
}

.login h1 {
    font-size: 1rem;
    margin: 0.3rem auto 2rem auto;
}

.login form {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.login input{
    width: 70%;
    padding: 0.8rem;
    margin: 1rem;

    font-size: 1rem;
    border: none;
    border-bottom: 1px solid var(--chosen-gray);
}

.login button {
    width: 70%;
    padding: 0.7rem;
    margin: 4rem 0 1rem 0;
    
    justify-self: flex-end;
    
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--chosen-yellow);
}

.texts {
    text-align: center;
    margin-bottom: 1rem;
}

.login a{
    text-decoration: none;
    color: var(--chosen-text-black);
}

.login a:hover{
    color: var(--chosen-red);
}

.weight-700 {
    font-weight: 700;
}


/* REGISTER / SIGNUP ----------------------------------------------------------------------------------- */
.signup h1 {
    margin: 0.3rem auto 1rem auto;
}

.signup input {
    padding: 0.5rem;
    margin: 0.8rem;

    font-size: 1rem;
}

.login button {
    width: 70%;
    padding: 0.7rem;
    margin: 2.5rem 0 1rem 0;
    
}

/* OVERLAY LOGIN REGISTER -------------------------------------------------*/
.overlay, .login, .signup {
    display: none;
}

/* FOOTER ------------------------------------------------------------------------------------ */
footer {
    width: 100%;
    padding: 4rem 0;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
    background-color: var(--chosen-black);
}

footer p {
    font-size: 1.6rem;
    text-align: center;
}

footer ul {
    width: clamp(300px, 30%, 500px);
    padding: 0 2rem;

    color: var(--chosen-text-white);
}

footer ul li {
    padding: 0.2rem 0;
    margin: 0.3rem 0;
    
    font-size: 1.3rem;
    list-style-type: none;
    border-bottom: 1px solid var(--chosen-gray);
}


/* WAVES */
.spacer {
    aspect-ratio: 900/600;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('../img/layered-waves-haikei-white-to-black.svg');
}


/* MEDIA ------------------------------------------------------------------------------------- */
@media only screen and (max-width: 970px) {
    /* NAVBAR ------------------------------------------------------------------------------------ */
    .navbar-top {
        height: 120px;
        
        top: -60px;
        flex-flow: row wrap;
    }

    .navbar-top img{
        height: clamp(50px, 35%, 60%);
    }

    .login-buttons{
        width: 50%;
        justify-content: flex-end;
    }
    
    .text-button {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 420px) {
    /* NAVBAR ------------------------------------------------------------------------------------ */
    .navbar-top {
        height: 110px;

        top: -55px;
    }

    .navbar-top img {
        padding-left: 0;
    }

    .login-buttons{
        width: 45%;
    }

    .text-button {
        font-size: 1rem;
    }
}
