:root {
    --chosen-yellow: #ffcd01;
    --chosen-black: #212121;
    --chosen-white: #ffffff;
    --chosen-red: #c62024;
    --chosen-red-hover: #b51013;
    --chosen-gray: #555555;
    
    --chosen-text-black: #212121;
    --chosen-text-white: #ffffff;

    --transition-speed: 400ms;
}

body {
    width: 100%;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--chosen-black);
}

body::-webkit-scrollbar-thumb {
    background: var(--chosen-yellow);
}

.container {
    width: 100%;

    display: flex;
    flex-flow: row wrap;

    background-color: var(--chosen-white);
}


/* HOVER EFFECTS ----------------------------------------------------------------------------------*/
.raise {
    transition: all var(--transition-speed) ease;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--chosen-black);
  transform: translateY(-0.1em);
}

.enlarge {
    transition: all var(--transition-speed) ease;
}

.enlarge:hover, .enlarge:focus {
    transform: scale(1.2);
}

.bold {
    transition: all var(--transition-speed) linear;
}

.bold:hover, .bold:focus {
    font-weight: 700;
}

/* NAVBAR ------------------------------------------------------------------------------------ */
nav {
    width: 100%;
    height: clamp(60px,12vh, 80px);
    
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--chosen-yellow);
}

nav img{
    height: clamp(60px, 60%, 60%);
}


/* OVERLAY ------------------------------------------------------------------------------------ */
.overlay{
	width: 100%;
	height: 100%;

    display: none;
	position: fixed;
	top: 0px;
    left: 0px;
    
	background-color: #000;
	opacity: 0.7;
}


/* LOG IN ------------------------------------------------------------------------------------- */
/* REGISTER ----------------------------------------------------------------------------------- */

/* FOOTER ------------------------------------------------------------------------------------ */
footer {
    width: 100%;
    padding: 4em 0;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
    background-color: var(--chosen-black);
}

footer p {
    font-size: clamp(1em, 1vw + 0.8em, 1.8em);
    text-align: center;
}

footer ul {
    width: clamp(300px, 30%, 500px);
    padding: 0 5vw;

    color: var(--chosen-text-white);
}

footer ul li {
    padding: 0.2em 0;
    margin: 0.3em 0;
    
    font-size: clamp(0.7em, 1vw + 0.8em, 1.8em);
    list-style-type: none;
    border-bottom: 1px solid var(--chosen-gray);
}


/* WAVES */
.spacer {
    aspect-ratio: 900/600;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('../img/layered-waves-haikei-white-to-black_2.svg');
}


/* MEDIA ------------------------------------------------------------------------------------- */
@media only screen and (max-width: 970px) {
    /* NAVBAR ------------------------------------------------------------------------------------ */
    nav {
        height: 120px;
        
        top: -60px;
        flex-flow: row wrap;
    }

    nav img{
        height: clamp(50px, 35%, 60%);
    }
}

@media only screen and (max-width: 420px) {
    /* NAVBAR ------------------------------------------------------------------------------------ */
    nav {
        height: 110px;

        top: -55px;
    }

}
