.big-text {
    width: 100%;
    padding: 2rem;
    
    text-align: center;
    font-size: 1.7rem;
}
/* SECOND CONTAINER -------------------- */
#days-container {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}   

.day {

}

.chosen-meals {
    margin: 0.5rem;
    padding: 0.3rem;

    display: flex;
    flex-flow: column nowrap;

    border-radius: 1rem;
    background-color: var(--chosen-yellow);
}

.chosen-meal{
    margin-top: 0.2rem;
    padding: 0.3rem;
    grid-column: 1/3;
    grid-row: auto;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    border-bottom: 1px solid var(--chosen-gray);
    background-color: var(--chosen-white);
    border-radius: 1rem;

    font-size: 0.8rem;
}

.chosen-meals h3{
    text-align: center;
}

.chosen-meals ul input{
    width: 50%;
    padding: 0.2rem 0.5rem;
    background-color: var(--chosen-yellow);
    color: black;
    border: none;
    border-radius: 0.5rem;
    outline: none;
}

.chosen-meal-img-or-i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chosen-meal-content {
    grid-column: 2/3;
    padding: 0.7rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.chosen-meal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;

    border-radius: 1rem;
}

.chosen-meal > ul{
    margin: auto 0;
    padding-left: 0;

    list-style-type: none;
}

.day-summary ul{
    list-style-type: none;
}

.bottom-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.continue{
    margin: 1rem;
    padding: 0.2rem 4rem;

    text-decoration: none;
    color: var(--chosen-text-black);
    font-size: 2rem;
    border-radius: 2rem;
    border: none;

    color: var(--chosen-text-white);
    text-shadow: 1px 2px 10px var(--chosen-black);
    background-color: var(--chosen-red);

}

.return {
    margin: 1rem;
    padding: 0.2rem 4rem;

    text-decoration: none;
    color: var(--chosen-text-black);
    font-size: 2rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--chosen-yellow);
}
