.main-your-account {
    width: 100%;
    margin-left: 5rem;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.profile-picture {
    width: 20rem;
    margin: 2rem 0;
    border-radius: 50%;
}

.profile-content {
    width: 40rem;
    margin-top: 2rem;
    padding: 1rem 1rem;
    
    background-color: var(--chosen-yellow);
    border-radius: 1rem;
}

.profile-content p{
    width: 80%;
    margin-top: 0.5rem;

    font-size: 1.5rem;
    border-bottom: 1px solid var(--chosen-text-black);
}

/* MEDIA ------------------------------------------------------------------------------------- */
@media only screen and (max-width: 970px) {
    .main-your-account{
        margin-left: 0;
    }
}